# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*tfplan*

# Backup files
*.backup
*.bak

# Archive files
*.gz
*.zip
*.tar

# Log files
*.log

# Temporary directories and files
temp/
tmp/
*.tmp

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.project
.settings/
